<footer class="page-footer font-small bg-dark pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex">
                <h4 class="text-white">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://www.facebook.com/gabriel.conceicao.750/" target="blank"
                         class="icoFacebook">
                         <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>   

                    <li>
                        <a href="https://www.instagram.com/iiamgabex__/" target="blank"
                         class="icoInstagram">
                         <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/gabriel-concei%C3%A7%C3%A3o-97b534214/" target="blank"
                         class="icoLinkedin">
                         <i class="m-2 fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
    <span class="text-white"> &copy; 2021 Copyright </span>
    </div>

</footer>