#img-bg {
    background-image: url(https://images.pexels.com/photos/428365/pexels-photo-428365.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);

    min-height: 695px;
    background-size: cover;
    
    

}

